
## WireGuard configuration file template (wg0.conf.j2)


[Interface]
Address = {{ wg_server_address }}
ListenPort = {{ wg_port }}
PrivateKey = {{ wg_server_private_key }}

[Peer]
PublicKey = {{ wg_admin1_public_key }}
AllowedIPs = {{ wg_admin1_allowed_ips }}/32

[Peer]
PublicKey = {{ wg_admin2_public_key }}
AllowedIPs = {{ wg_admin2_allowed_ips }}/32  

